body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  color: #121212;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea,
input {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

textarea:where(:hover),
input:where(:hover) {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
  color: #3992ff;
  font-weight: 500;
  text-decoration: none;
  user-select: none;
}

button:where(:hover) {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:where(:active, .active) {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

:where(#root) {
  display: flex;
  height: 100%;
  width: 100%;
}

:where(#masthead) {
  width: 22rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}

:where(#root) > main {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}

:where(#root) > main[data-loading] {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

:where(#masthead) > * {
  padding: 1rem;
}

/* home link */
:where(#masthead) > *:where(:first-child) {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  border-top: 1px solid #e3e3e3;
  order: 1;
}

/* contact search */
:where(#masthead) > *:where(:nth-child(2)) {
  border-bottom: 1px solid #e3e3e3;
}

:where(#search-form) {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

:where(#q) {
  box-sizing: border-box;
  width: 100%;
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1rem;
  position: relative;
}

:where(#q.loading) {
  background-image: none;
}

:where(#search-spinner) {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

/* contact nav */
:where(#masthead) > *:where(:nth-child(3)) {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

:where(#masthead) > *:where(:nth-child(3)) :where(ul) {
  padding: 0;
  margin: 0;
  list-style: none;
}

:where(#masthead) > *:where(:nth-child(3)) :where(ul > li) {
  margin: 0.25rem 0;
}

:where(#masthead) > *:where(:nth-child(3)) :where(ul > li > a) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
  transition: background-color 100ms;
}

:where(#masthead) > *:where(:nth-child(3)) :where(ul > li > a):hover {
  background: #e3e3e3;
}

:where(#masthead) > *:where(:nth-child(3)) :where(ul > li > a).active {
  background: hsl(224, 98%, 58%);
  color: white;
}

:where(#masthead) > *:where(:nth-child(3)) :where(ul > li > a).pending {
  animation: progress 2s infinite ease-in-out;
  animation-delay: 200ms;
}

.favorite-indicator {
  display: block;
  color: #eeb004;
  font-size: 1em;
  line-height: 1;
}

:where(#error-page) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

:where(#index-page) {
  margin: 2rem auto;
  text-align: center;
  color: #818181;
}

:where(#index-page)::before {
  display: block;
  margin-bottom: 0.5rem;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  content: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 800 800' xmlns='http://www.w3.org/2000/svg' fill='%23E3E3E3'%3E%3Cpath d='M587.947 527.768C592.201 582.418 592.201 608.036 592.201 636H465.756C465.756 629.909 465.865 624.337 465.975 618.687C466.317 601.123 466.674 582.807 463.828 545.819C460.067 491.667 436.748 479.634 393.871 479.634H355.883H195V381.109H399.889C454.049 381.109 481.13 364.633 481.13 321.011C481.13 282.654 454.049 259.41 399.889 259.41H195V163H422.456C545.069 163 606 220.912 606 313.42C606 382.613 563.123 427.739 505.201 435.26C554.096 445.037 582.681 472.865 587.947 527.768Z' /%3E%3Cpath d='M195 636V562.553H328.697C351.029 562.553 355.878 579.116 355.878 588.994V636H195Z' /%3E%3C/svg%3E%0A");
}

:where(#contact) {
  display: flex;
}

:where(#contact) header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

:where(#contact) h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.twitter {
  margin: 0;
}

.notes {
  white-space: break-spaces;
}

:where(#contact) a[href*="twitter"] {
  display: flex;
  font-size: 1.5rem;
  color: #3992ff;
  text-decoration: none;
}

:where(#contact) a[href*="twitter"]:hover {
  text-decoration: underline;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  width: 12rem;
  height: 12rem;
  background: #c8c8c8;
  margin-right: 2rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

:where(#contact h1) ~ div {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

:where(#contact-form) {
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 1rem;
}

:where(#contact-form) > p:first-child {
  margin: 0;
  padding: 0;
}

:where(#contact-form) > p:first-child > :nth-child(2) {
  margin-right: 1rem;
}

:where(#contact-form) > p:first-child,
:where(#contact-form) label {
  display: flex;
}

:where(#contact-form) p:first-child span,
:where(#contact-form) label span {
  width: 8rem;
}

:where(#contact-form) p:first-child input,
:where(#contact-form) label input,
:where(#contact-form) label textarea {
  flex-grow: 2;
}

:where(#contact-form) p:last-child {
  display: flex;
  gap: 0.5rem;
  margin: 0 0 0 8rem;
}

:where(#contact-form) p:last-child button[type="button"] {
  color: inherit;
}

:where(#favorite-form) {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

:where(#favorite-form) button {
  box-shadow: none;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
}

:where(#favorite-form) button:where([value="true"]) {
  color: #a4a4a4;
}

:where(#favorite-form) button:where([value="true"]):hover {
  color: #eeb004;
}

:where(#favorite-form) button:where([value="false"]) {
  color: #eeb004;
}

:where(#favorite-form) button:where(:focus) {
  outline: none;
  color: hsl(224, 98%, 58%);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

:where(form[action$="destroy"]) button {
  color: #f44250;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes progress {
  0% {
    background: #e3e3e3;
  }
  50% {
    background: hsla(224, 98%, 58%, 0.5);
  }
  100% {
    background: #e3e3e3;
  }
}
